.header-bg { background-color: #003366 !important; color: white !important; text-shadow: none !important; }
        .footer-bg { background-color: #f4f4f4 !important; text-shadow: none !important; text-align: center; }
        p { text-align: justify; }